/* body {
  display: flex;
  flex-direction: row;
  padding: 0;
  background-color: #80808020;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: sticky;
  top: 0;
  width: 50vw;
  height: 100%;
  padding: 4%;
}

#output {
  display: flex;
  flex-direction: column-reverse;
  width: 50vw;
  align-items: center;
  padding: 4%;
}

.comment-response {
  border: solid 2px #1670ba;
  border-radius: 8px;
  margin: 0 auto 4% auto;
  padding: 4%;
  width: 50%;
} */
